.layout {
  position: relative;
  @apply relative flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

$bar-width: 20%;
.center {
  flex-grow: 1;
  height: 100vh;
  margin: 0 auto;
  @apply border-r border-l border-gray-800 p-layout;
}

